.search-upper a
{
    text-decoration: none;
    color: black;
}
.search-main
{
    display: flex;
    flex-direction: row;
    height: max-content;
    padding-top: 10px;
    padding-left: 10px;
}

.search-main:hover
{
    background-color: #bfc2c5;
    cursor: pointer;
    /* border-radius: 5px; */
}

.search-image
{
   margin-right: 20px;
}

.search-user-name
{
    font-weight: bold;

}

@media(max-width: 550px)
{
    .search-image
    {
        margin-right: 10px;
    }
    .search-user-name
    {
        font-size: 15px;
    }   
    .search-user-email
    {
        font-size: 13px;
        font-weight: 480;
    }
}

